@@include('../Shared/header.html', {
        "style": [
            "assets/css/Pages/homepage.css"
        ]
})

        <section class="homepage">
            <div class="headlines-article">
                <div class="row no-gap">
                    <div class="col-md-6">
                        <img src="assets/images/photo-headlines/astra.jpg" alt="">
                    </div>
                    <div class="col-md-6 article-info">
                        <article>
                            <h5>Korporasi</h5>
                            <h1>Astra Bersiap Jadi Penguasa Jalan Tol Trans Jawa</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                                Maecenas fermentum, magna quis semper pretium, ante tortor egestas nibh, laoreet interdum enim justo nec nibh. 
                                Quisque lacinia elit est, ac volutpat odio laoreet quis.</p>
                        </article>
                    </div>
                </div>
            </div>
            <div class="container">
                
            </div>
        </section>

@@include('../Shared/footer.html', {
        "script": [
            "assets/js/Includes/homepage.js"
        ]
})